<div class="container">

      <div class="panel panel-default">
        <form ng-controller="SaleController as saleCtrl">
          <h3>Venda</h3>
          <ul>
            <span>Data: <input ng-model="sale.date" class="span2" type="date"></input></span>
          </ul>
          <ul>
            <span>Cliente: <input ng-model="sale.client" class="span2" type="text" placeholder="Nome do cliente"></input></span>
          </ul>
          <ul>
            <span>Produto: <input ng-model="saleCtrl.product.name" class="span2" type="text" placeholder="Nome do produto"></input></span>
            <span>Valor: <input ng-model="saleCtrl.product.price" class="span2" type="number" placeholder="R$ 89,90"></input></span>
            <button ng-click="saleCtrl.addProduct()" class="btn">Adicionar</button>
          </ul>
          <ul>
            <li ng-repeat="product in saleCtrl.products">
              <strong>{{product.name}}</strong>
              {{product.price}}
            </li>
          </ul>
          <ul>
            <button ng-click="saleCtrl.addSale()" class="btn btn-primary btn-large">Salvar</button>
          </ul>
        </form>
      </div>

    </div>