<div class="container">
<div ng-repeat="sale in sales">
        <div class="panel panel-primary">
          <div class="panel-body">
            {{sale.date | date: "dd/MM/yyyy"}}
            <h2>{{sale.client}}</h2>
            <ul>
              <h4>Produtos</h4>
              <li ng-repeat="product in sale.products">
                <strong>{{product.name}}</strong>
                {{product.price}}
              </li>
            </ul>
            <p>Total: {{sale.value}}</p>
            <div class="panel panel-default">
              <form ng-controller="PaymentController as paymentCtrl">
                <div class="panel-heading">Pagamentos</div>
                <div class="panel-body">
                  <span>Data: <input ng-model="paymentCtrl.payment.date" class="span2" type="date"></input></span>
                  <span>Valor Recebido: <input ng-model="paymentCtrl.payment.value" class="span2" type="number" placeholder="Valor recebido"></input></span>
                  <button ng-click="paymentCtrl.addPayment(sale)" class="btn">Adicionar</button>
                </div>
              </form>
              <div ng-repeat="payment in sale.payments">
                <ul>
                  <li>
                    {{payment.date | date: "dd/MM/yyyy"}}
                    {{payment.value}}
                  </li>
                </ul>
              </div>
          </div>
          </div>
        </div>
      </div>
</div>